@media screen and (max-width:860px) {

    div.form1,
    div.form2,
    p.pEsqueceu {
        display: none;
    }

    .conteudo-lateral-esquerdo {
        display: none;
    }

    #nome,
    #sobrenome {
        width: 34rem;
    }

    #fem,
    #mas {
        padding: none;
    }

    .dataLink,
    .rodape p {
        display: none;
    }
}

@media screen and (max-width:620px) {
    .nome-sobrenome {
        flex-direction: column;
        max-width: none;
    }

    #celular-ou-email,
    #senha-cadastro {
        padding: .5rem;
    }

    #nome,
    #sobrenome {
        padding: .5rem;
        width: 19.3rem;
    }

    .abra-conta {
        font-size: 2rem;
    }

    .btn-inscrever {
        padding: 1rem;
    }
}